<!DOCTYPE html>
<html>
  <head>
    <title>HarryHood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Abel|PT+Sans|Roboto');
    </style>
    <script type="text/javascript">
        window.logoURL = "<%= image_url('svg-logo.svg') %>"
        window.rocketGIF = "<%= image_url('animat-rocket-green.gif') %>"
        window.splashMockURL = "<%= image_url('mock.png') %>"
        window.dogURL = "<%= image_url('dog.png') %>"
        window.loginBackgroundURL = "<%= image_url('login8.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
